@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  background-color: #efefef;
  font-family: "Ubuntu", sans-serif;
}

.page-container {
    height: 100vh;
    background-color: #efefef;
    margin: 0 auto;
    min-width: 1400px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    margin: 16px;
    align-self: center;
    font-weight: 900;
    font-size: 48px;
}

.main-container {
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.buttons-container {
    margin: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection-button {
    border-radius: 16px;
    padding: 8px 16px;
    border: 2px solid black;
    font-weight: 700;
    margin: 0 16px;
    cursor: pointer;
    transition: 0.2s ease-in;
    color: white;
    background-color: black
}

.selection-button:hover {
    color: black;
    background-color: white ;
}

.grid-container {
    align-self: center;
    height: 960px;
    width: 960px; 
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
}
 
.cell {
    flex: 1 1 0; 
    outline: 1px solid #000;
    background-color: white;
} 

.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;  
  background: #e4e4e4;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #0d0e0d;
    cursor: pointer;
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}